# **NAAN MUDHALVAN- AI Assignment - 3**
REGISTER NUMBER	:	311020243017

NAME: D.Jesiya Arputham

COLLEGE	:	KCG College of Technology

**Dataset link:**

https://www.kaggle.com/datasets/iamsouravbanerjee/animal-image-dataset-90-different-animals

In [ ]:
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator

# **1. Data Augmentation**

In [ ]:
data_aug = ImageDataGenerator(
    rescale =1./255,
    rotation_range=20,
    width_shift_range=0.2,
    height_shift_range=0.2,
    shear_range=0.2,
    zoom_range=0.2,
    horizontal_flip=True,
    fill_mode='nearest'
)

In [ ]:
train_data=data_aug.flow_from_directory('/content/drive/MyDrive/animals',target_size=(128,128),batch_size=32,class_mode='categorical')

Found 2362 images belonging to 90 classes.

#**2.Build the CNN Model**

In [ ]:
model=tf.keras.models.Sequential([tf.keras.layers.Input(shape=(128,128,3)),
                                  tf.keras.layers.Conv2D(64,(3,3),activation='relu'),
                                  tf.keras.layers.MaxPooling2D((2,2)),
                                  tf.keras.layers.Flatten(),
                                  tf.keras.layers.Dense(64,activation='relu'),
                                  tf.keras.layers.Dense(32,activation='relu'),
                                  tf.keras.layers.Dense(90,activation='softmax')])

In [ ]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [ ]:
model.fit(train_data,epochs=4)

Epoch 1/4
74/74 [==============================] - 243s 3s/step - loss: 4.5379 - accuracy: 0.0279
Epoch 2/4
74/74 [==============================] - 154s 2s/step - loss: 4.0296 - accuracy: 0.0635
Epoch 3/4
74/74 [==============================] - 135s 2s/step - loss: 3.7140 - accuracy: 0.0821
Epoch 4/4
74/74 [==============================] - 130s 2s/step - loss: 3.5738 - accuracy: 0.0953

In [ ]:
val_data=ImageDataGenerator(rescale=1./255)
val_generator=val_data.flow_from_directory('/content/drive/MyDrive/animals',target_size=(128,128),batch_size=32,class_mode='categorical')

Found 2362 images belonging to 90 classes.

#**3. Test the Model**

In [ ]:
model.evaluate(val_generator)

74/74 [==============================] - 65s 867ms/step - loss: 3.4763 - accuracy: 0.1190

[3.4762630462646484, 0.1189669743180275]